<%- layout("/layouts/boilerplate.ejs") %>

    <div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit your listings</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" class="form-control" type="text" value="<%= listing.title %>" name="listing[title]" required />
            <div class="invalid-feedback">Enter a valid title</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" class="form-control" name="listing[description]" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Enter a valid description</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            Original Listing Image:
            <br>
            <img  src="<%= originalImageURL %>" />
        </div>
        <div class="form-group mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input id="image" class="form-control" type="file" name="listing[image]" />
            <div class="invalid-feedback">Input a valid image</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="row">
        <div class="form-group mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input id="price" class="form-control" type="number" value="<%= listing.price %>" name="listing[price]" required />
            <div class="invalid-feedback">Enter a valid price</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input id="country" class="form-control" type="text" value="<%= listing.country %>" name="listing[country]" required />
            <div class="invalid-feedback">Enter a valid country</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        </div>
        <div class="form-group mb-3">
            <label for="location" class="form-label">Location</label>
            <input id="location" class="form-control" type="text" value="<%= listing.location %>" name="listing[location]" required />
            <div class="invalid-feedback">Enter a valid location</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        
        <button class="btn btn-dark mb-3 edit-btn">Edit</button>
    </form>
    </div>
    </div>
</body>
